<!DOCTYPE html>
<html>
<head>
  <title>Group8Fall2018</title>
  <%= stylesheet_link_tag    'defualt', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'defualt', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
