<h1>Home#trade</h1>
<p>Find me in app/views/home/trade.html.erb</p>
    <!-- Page Content -->
    <div class="container">
    
        <!-- Heading Row -->
        <div class="row my-4">
        
            <div class="col-lg-4">
                <h1>Converter</h1>
                <p>Text can go here.</p>
                <div class="field">
                    <input type="submit" value="exchange" />
                </div>
            </div>
            <!-- /.col-md-4 -->
        </div>
