<h1>Home#trade</h1>
<p>Find me in app/views/home/trade.html.erb</p>
    <!-- Page Content -->
    <div class="container">
    
        <!-- Heading Row -->
        <div class="row my-4">
        
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>CryptoConverter</h1>
          <p>CryptoConverter is an online cryptocurrency accounting software package. It is able to quickly notice trends and changes in
          the volatile cryptocurrency market utilizing a straightforward user interface.</p>
         <%= link_to 'exchange', new_user_registration_path, class:"btn btn-primary btn-lg" %>
        </div>
