    <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
         <!--<img class="img-responsive" src="/assets/images/calc.jpg" alt="">-->
          <!-- temporary quick image to see what a non place holder would look like-->
          <%= image_tag 'calc.jpg', class: "img-fluid rounded" %>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>CryptoConverter</h1>
          <p>CryptoConverter is an online cryptocurrency accounting software package. It is able to quickly notice trends and changes in
          the volatile cryptocurrency market utilizing a straightforward user interface.</p>
         <%= link_to 'Sign Up!', new_user_registration_path, class:"btn btn-primary btn-lg" %>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0">Get started with some of many utilities of CryptoConverter. Find out more about each one below!</p>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Currency Exchange Rate</h2>
              <p class="card-text">Every cryptocurrency investor would like to maximize their profits. CryptoConverter provides a cryptocurrencyexchange rate calculator that is updated in real time in order to allow for efficient management of assets.</p>
            </div>

          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">History and Trends</h2>
              <p class="card-text">Traders require accurate market data that is easily interpretable. There is a large variety of cryptocurrencies, and CryptoConverter provides an easy-to-read history of many of these currencies. It also implements a visual representation of trends in the market, viewable in multiple timeframes.</p>
            </div>
            
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Cryptocurrency Converter</h2>
              <p class="card-text">Converting between multiple types of currency takes a long time. That's why Cryptotracker does the work for you. Included in the software package is the ability to automatically convert the total of all assets to a single currency to save time, headaches, and cryptocurrency value.</p>
            </div>
           
          </div>
        </div>
        <!-- /.col-md-4 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->